---
layout: layout.liquid
title: Phone
---

<h1>Phone <strong> everyday carry</strong></h1>
<h2> I need to carry my Phone everyday . I use it for GPS , Search and contact</h2>
<img alt="phone" src="/images/phone.jpeg" width="50" />