<nav>
    <ul>
      <li><a href="/waterbottle/" title="Go waterbottle">bottle</a></li>
      <li><a href="/phone/" title="Go phone">Phone</a></li>
      <li><a href="/carkey/" title="Go carkey">key</a></li>
    </ul>
  </nav>